* {
    margin: 0; 
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f9;
    position: relative;
    z-index: 0; /* Define o contexto de empilhamento */
}

body::before {
    content: "";
    position: fixed; /* Fixa o pseudo-elemento */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('https://t.ctcdn.com.br/kCDnipVpxWYSLz2TOOnZLohF_rg=/1000x563/smart/i282822.jpeg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    opacity: 0.5; /* Define a opacidade da imagem */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do body */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: linear-gradient(to right, #2C3E50, #2980B9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para o header */
    z-index: 1000; /* Garante que o cabeçalho fique na frente do conteúdo */
}

#logo h1 {
    margin: 0;
    font-size: 24px;
}

#logo a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #95A5A6;
}

main {
    display: flex;
    flex-grow: 1; /*tem capacidade de expandir para ocupar o espaço restante no contêiner flexível */
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-top: 120px; 
    min-height: calc(100vh - 80px - 60px); 

}

.contatos-principais {
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 40px auto; 
}

.contatos-principais > div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.contatos-principais h1 {
    margin: 0;
    margin-bottom: 20px; /* Espaçamento entre h1 e o ul */
    font-size: 28px;
    color: #2C3E50;
}

.contatos-principais ul {
    margin: 0;
    margin-bottom: 20px; /* Espaçamento entre parágrafos */
    line-height: 1.6;
}

footer {
    background: linear-gradient(to right, #2C3E50, #2980B9);
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
    position: relative;
    z-index: 1000; /* Garante que o footer fique na frente do conteúdo */
}

footer ul {
    list-style: none;
    display: flex; 
    justify-content: center; /* Centraliza no meio */
    padding-top: 10px; /* Separa do parágrafo */
    margin: 0; /* Garante que não há margens extras */
}

footer ul li {
    margin-left: 20px; /* Espaçamento entre as opções da ul */
}

footer ul li a {
    text-decoration: none; /* Tira o sublinhado do link */
    color: aliceblue;
    font-weight: bold;
}

footer ul li a:hover {
    color: #95A5A6;
}

footer p {
    color: aliceblue;
    font-size: 15px;
    margin: 0;
}
