/* Estilização geral */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Fonte mais moderna */
    color: #333;
    background-color: #f4f4f9; /* Cor de fundo suave */
    position: relative;
    z-index: 0; /* Define o contexto de empilhamento */
    font-weight: bold;
}

body::before {
    content: "";
    position: fixed; /* Fixa o pseudo-elemento */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('https://www.shutterstock.com/image-photo/computer-script-programming-code-abstract-260nw-260926193.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    opacity: 0.5; /* Define a opacidade da imagem */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do body */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: linear-gradient(to right, #0100EC, #FB36F4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para o header */
}

#logo h1 {
    margin: 0;
    font-size: 24px;
}

#logo a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FB36F4; /* Efeito hover com transição */
}

main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
}

#projects {
    width: 100%;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#projects h2 {
    color: #0100EC; /* Cor azul */
    font-weight: bold;
    font-size: 24px; /* Tamanho da fonte aumentado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento do texto */
}

.project h3 {
    margin-top: 0;
    color: #0100EC;
}

.project p {
    margin: 10px 0;
    line-height: 1.6;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.python-logo {
    width: 80px;

}

.pandas-logo {
    width: 150px;
}

.java-logo {
    width: 80px;

}

.css-logo{
    width: 80px;

}

.html-logo {
    width: 100px;
}

.js-logo{
    width: 70px;
}


footer {
    background: linear-gradient(to right, #0100EC, #FB36F4);
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra para o footer */
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #FB36F4; /* Efeito hover com transição */
}

footer p {
    color: aliceblue;
    font-size: 15px;
    margin: 0;
}



.project {
    animation: fadeIn 1s ease-in-out;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    nav ul li {
        margin-left: 10px;
    }

    footer ul li {
        margin-left: 10px;
    }
}
